.list-products {
    margin: 40px;
    margin-right:25px;
    margin-left:25px;
    width:99%;
}
.list-products .products {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top:-20px;
}
.list-products .filter{
    border-radius: 4px;
    padding: 0;
    margin-top:20px;
}   
.list-products .filter-categories,
.list-products .filter-genders{
    border:1px solid #dddddd;
    margin-bottom:25px;
}
.list-products .filter div.title{
    text-align: center;
    background:#f3f3f3;
    height: 42px;
    border-bottom: 1px solid #dddddd;
    padding:12px 15px;
}
.list-products .filter div.title h4{
    margin:0;
    color:black;
}
.list-products ul {
    list-style:none;
}
.list-products .filter-container{
    padding:20px 24px;
}
.list-products .filter-container a{
    color:#919191;
    text-decoration: none;
    font-size:15px;
}
.list-products .filter-container li{
    margin-bottom:3px;
}
.list-products .filter-container li.checked a,
.list-products .filter-container li.checked i{
    color:black;
}
.list-products .filter-container li .fa{
    color:#919191;
    margin: 0 .25em 0 0;
}
.list-products .filter-container li.checked a.category::before,
.list-products .filter-container li.checked a.gender::before{
    content:'\f00c';
    font-family: 'fontawesome';
    color:black;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin: 0 .25em 0 0;
    position: absolute;
    font-size:13px;
    margin-left: 1px;
}
.list-products .filter-container li.checked a.color{
    opacity: 1;
    border-color:rgb(41, 41, 41);
}
.list-products .filter-container li.checked a.size,
.list-products .filter-container li.checked a.brand
{
    border-color:black;
    color:black;
    font-weight: 700;
}

.list-products .filter li.has-submenu ul{
    margin:5px 0px 0px -5px;
}
.list-products .filter li.has-submenu ul a{
    font-size:13.5px;
}
.list-products .filters{
    border:1px solid #dddddd;
}
.list-products .filters .filter-container h4{
    font-size:15px;
    margin-bottom: 20px;
}
.list-products .filters .filter-container a{
    border:1.8px solid #919191;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    font-size:16px;
    display: inline-block;
    vertical-align: middle;
    transition-duration: 400ms;
    -moz-transition-duration: 400ms;
    -o-transition-duration: 400ms;
}
.list-products .filters .filter-container .color{
    opacity: 0.6;
}
.list-products .filters .filter-container .color:hover{
    opacity: 1;
}
.list-products .filters .filter-container .color span{
    display:none;
}
.list-products .list-inline-item{
    margin:0;
    padding: 0;
    text-align: center;
}
.list-products .list-inline-item li{
    display: inline-block;
    margin:0 10px 10px;
}
.list-products .filters .filter-container .size
{
    padding-top:4px;
    height: 2.2em;
    width: 2.2em;
}
.list-products .filters .filter-container .brand
{
    padding-top:10px;
    height: 3em;
    width: 3em;
}
.list-products .filters .filter-container .size span
{
    font-size:13.5px;
}
.list-products .filters .filter-container .brand span{
    font-size:14px;
}
.list-products .filters .filter-container .size:hover,
.list-products .filters .filter-container .brand:hover{
    color:#2b2b2b;
    border-color:#2b2b2b;
}
.list-products ul.filter-container li:hover>a,
.list-products ul.filter-container li:hover>a i{
    color:rgb(39, 39, 39);
}
div.input-range{
    width:80%;
    margin-left:15px;
    margin-top:15px;
}
div.input-range__track--active{
    background:black;
}

div.input-range__slider{
    height: 15px;
    width:15px;
    margin-top:-0.9rem;
    background:black;
    border: 1px solid black;
}
div.input-range__track{
    height: 4px;
    top:0;
}
span.input-range__label-container{
    visibility: collapse;
} 
.price-menu{
    text-align: center;
    
}
.price-menu input[type='text']{
    width:41%;
    margin-left:-10px;
    margin-top:25px;
    font-size:14px;
    padding-left:35px;
    outline: none;
}
.price-menu input[type='text']:active, .price-menu input[type='text']:focus{
    border:1px solid black;
}

.price-menu input[type='text']:last-child{
    margin-left:15px;
}
.list-products .filters .filter-container a.price{
    border:none;
    position: absolute;
    right:-10px;
    color:black;
    font-size:30px;
}