.navbar.top{
  background:rgba(241, 241, 241, 0.89);
  max-height: 45px;
  height: 45px;
  margin-bottom: 0;
  color:#919191;
}
.navbar.top a{
  color:#686868;
  transition-duration: 400ms;
  text-decoration: none;
}
.navbar.top a:hover{
  color:black;
}
.navbar.top .fa-shopping-cart:hover{
  color:black;
  border-color:black;
}
.navbar.bot {
  margin:0;
  padding:0;
  border:none !important;
  border-radius: 0px;
  background:rgba(0, 0, 0, 0.89) !important;
  z-index: 4;
  max-height: 60px !important;
  height: 60px !important;
  min-height: 60px !important;
}


.navbar.bot a.nav-link{
  color:#f1f1f1 !important;
  transition-duration: 400ms;
  text-decoration: none;
  font-size:15px;
}
.navbar.bot ul.nav{
  margin-top:10px;
}
.navbar.bot .nav-item{
  margin-right:1.5%;
}
.navbar.bot a::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width .5s;
  margin-top:1px;
}
.navbar.bot a:hover::after{
  width:100%;
}
.navbar.bot a:hover, .navbar.bot a:focus,.navbar.bot a:active{
  background: transparent;
}
.navbar.bot .navbar-nav {
  width:100%;
}

.nav{
  margin-top:5px;
  font-size:15px;
  display: flex;
  align-items: center;
  justify-content: center
}
a.phone{
  font-size:18px;
  font-weight: 500;
}
.services{
  font-size:13px;
}


.fa-phone:hover{   
   color:black;
   transition-duration: 400ms;
}


#cart:hover .cart{
  max-height: 165px;
}
.navbar.top .cart p{
  font-size: 13px;
}
.navbar.top .cart>p{
  border-bottom: 1px solid black;
  padding: 15px 0px 15px 0px;
  color:#2b2b2b;
  text-align: center; 
  transition-duration: 400ms;
}
.navbar.top .cart>p:hover{
  color:#2b2b2b;
}
.navbar.top .cart .price{
  color:#2b2b2b;
  background: white;
  margin:-15px 25px 15px 25px;
  height: 40px;
}
.navbar.top .cart .price p{
  padding-left:15px;
  padding-top:10px;
  font-size:15px;
  margin-top:30px;
}
.navbar.top .cart .price p span{
  float: right;
  padding-right: 10px;
  padding-top:1px;
  font-size:14px;
}
.navbar.top .cart .btn.btn-dark{
  background: white;
  border:2px solid black;
  border-radius: 5px;
  color:black;
  font-size:14px;
  float:right;
  margin-top:-5px;
  margin-bottom:15px;
  margin-right:25px;
  transition-duration: 200ms;
}
.navbar.top .cart .btn.btn-dark:hover{
  color:white;
  background: black;
}
.navbar.middle .logo img{
  padding:10px;
  margin:-5px 0px -20px 25px;
}
.navbar.middle .logo a{
  text-decoration: none;
}
.navbar.middle .logo div{
  margin-left:25px;
  padding-top:5px;
  margin-bottom:-5px; 
}
.navbar.middle .logo div span{
  color:rgb(139, 139, 139);
  transition-duration: 400ms;
}
.navbar.middle .right{
  font-size:11px;
  text-align: right;
  margin-top:15px;
  margin-left:-15px;
}

.navbar.middle .right a {
  display: inline-block;
  text-decoration: none;
}
.navbar.middle .right a span{
  color:rgb(128, 128, 128);
  margin-left:1px;
  transition-duration: 400ms;
}
.navbar.middle .right a::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .5s;
}
.navbar.middle .right a:hover::after{
  width:100%;
}
.navbar.middle .right a:not(:last-child){
  margin-right:20px;
}
.navbar.middle .fa{
  border:0;
  font-size:12px;
  color:#686868;
  transition-duration: 400ms;
}
.navbar.middle .right a:hover i, .navbar.middle .right a:hover span{
  color: black;
}

.navbar.middle .right span.cart-item-count:hover,
.navbar.middle .right span.cart-item-count,
.navbar.middle .right a:hover span.cart-item-count{
  position: absolute;
  top:5px;
  background-color: black;
  font-size: 13px;
  color:white;
  width:16px;
  height: 16px;
  text-align: center;
  border-radius: 50%;
}
.navbar .search-form{
  float: right;
}
.navbar .search-form input{
  display: inline-block;
  margin-top:-3px;
  border-width: 2px;
  border-radius: 20px;
  width:80%;
  color:#919191;
  border-color:#919191;
  transition-property: all;
  transition-duration: 400ms;
}
.navbar .search-form input:active, 
.navbar .search-form input:focus, 
.navbar .search-form input:hover{
  border-color:black;
  box-shadow: none;
  text-shadow: none;
  color:black;
}
.navbar .search-form span::after{
  position: relative;
  content: '\f002';
  font-size:15px;
  right: 30px;
  font-family: fontawesome;
  transition-property: color;
  transition-duration: 0.4s;
}
.navbar .search-form input:hover span::after,
.navbar .search-form input:active span::after,
.navbar .search-form input:focus span::after{
  color:black;
}

