@media (min-width: 768px){
    .mobile{
      display:none !important;
    }
  }
@media (max-width:768px){
    .navbar.bot{
      background: white !important;
      z-index:3;
    }
    .navbar.bot .navbar-toggler{
      left:3%;
      margin-right:10px;
      padding:0px;
      background: transparent;
      border:none;
    }
    .navbar.bot .logo.mobile{
      text-align:center;
    }
     .navbar.bot .logo.mobile img{
        width:125px;
     }
     .navbar.bot .logo.mobile span{
       color: rgb(139, 139, 139);
       font-size:14px;
     }
    .navbar.bot .btn-menu-show.text{
      position:relative;
      color:rgba(0,0,0,.5);
      text-transform: uppercase;
      top:1.5px;
      cursor: pointer;
      padding-right:2px;
    }
    .navbar.middle,
    .navbar.top{
      display:none;
    }
    .navbar.bot .navbar-collapse{
      position:fixed;
      top:0;
      left:-80%;
      width:80%;
      bottom:0;
      background: white;
      padding-left:45px;
    }
    .navbar.bot .navbar-collapse.collapsing{
      height: 100%;
     transition:.4s all ease;
     -webkit-transition: .4s all ease;
     -moz-transition: .4s all ease;
     -o-transition: .4s all ease;
    }
    .navbar.bot .navbar-collapse.collapse.show{
      transition: .4s all ease;
      -webkit-transition: .4s all ease;
      -moz-transition: .4s all ease;
      -o-transition: .4s all ease;
      left:0;
    }
    .navbar.bot .navbar-collapse.show .nav-link {
      color:rgba(0, 0, 0, 0.8) !important;
      font-size:14px;
      text-transform: uppercase;
    }
    .navbar.bot .navbar-collapse.show .nav-item{
      display:block;
      width:100%;
    }
    .navbar.bot .navbar-collapse.show .nav-item .fa-times::after{
      content: 'Закрити';
      text-transform: uppercase;
      display: inline-block;
      margin-left:5px;
      font-size:14px;
      position: relative;
      top:-1px;
      
    }
    .navbar.bot .navbar-collapse.show .nav-item .fa-times{
      font-size:20px;
      margin-left:-20px;
    }
    .navbar.bot .nav-item:first-child{
      border-bottom:1px solid rgba(0, 0, 0, 0.644);
      padding-bottom:5px;
      margin-bottom:5px;
    }
    .navbar-toggler:focus{
      outline: none;
    }
    .navbar.bot .mob-navbar-shadow{
      position:fixed;
      width:20%;
      right:0;
      top:0;
      bottom:0;
      background: transparent;
      transition: .4s background ease;
      -webkit-transition: .4s background ease;
     -moz-transition: .4s background ease;
     -o-transition: .4s background ease;
    }
    .navbar.bot .mob-navbar-shadow.collapsing{
      height: 100%;
      transition: .4s all ease;
      -webkit-transition: .4s all ease;
     -moz-transition: .4s all ease;
     -o-transition: .4s all ease;
    }
    .navbar.bot .mob-navbar-shadow.show{
      background: rgba(0, 0, 0, 0.55);
    }
  }