.footer-top{
    background:#2b2b2b;
}
.footer-top .header, .footer-top p{
    font-size:22px;
    color:rgb(235, 235, 235);
    text-decoration: none;
    transition-duration: 400ms;
    padding-bottom:8px;
    border-bottom:1px solid#505050;
    max-width: 80%;
}
.footer-top .header{
    padding-right:50%;
}
.footer-top .header:hover, .footer-top .content a:hover{
    color:rgb(201, 201, 201);
}
.footer-top .icons i{
    color: #999;
    font-size:26px;
    padding-top:2px;
    padding-right:4.5%;
}
.footer-top .icons i:hover{
    color:rgb(201, 201, 201);
    transition-duration: 400ms;
}
.footer-top .row:first-child{
    margin-top:20px;
}
.footer-top li{
   list-style-type: none;
}
.footer-top .content{
    margin-bottom:10px;
}
.footer-top .content a{
    color:#999;
    text-decoration: none;
    transition-duration: 400ms;
}
.footer-top .content .fa{
    font-size:20px;
    color: rgb(110, 110, 110);
    margin-left:-40px;
    margin-right:10px;
    border:2px solid rgb(110, 110, 110);
    border-radius: 60%;
}
.footer-top .content .fa-phone{
    padding-right:7px;
    padding-left:7px;
    padding-top:4px;
    padding-bottom:4px;
}
.footer-top .fa-envelope{
    padding:5px;
}
.footer-top .content .fa-instagram{
    padding-right:6px;
    padding-left:6px;
    padding-top:4px;
    padding-bottom:4px;
}
.footer-top .content p{
    color:#999;
    font-size:14px;
    border:none;
    margin-top:10px;
}
.footer-top .info {
    margin-top:15px;
}
.footer-top .info li.content {
    margin-left:-40px;
    border-bottom:1px solid#505050;
    max-width: 90%;
    margin-bottom:15px;
    padding-bottom:10px;
}
.footer-bottom{
    background:rgba(0, 0, 0, 0.89);
    height: 60px;
    
}
.footer-bottom p{
    margin-top:25px;
    color:#999;
    font-size:13px;
}

