.product{
    margin:20px 0;
    overflow: hidden;
    position: relative;
}

.product .description{
    padding-top:15px;
    background: white;
    z-index: 2;
    position: relative;
    transition-duration: 300ms;
    transition-property: transform;
    margin-top:-40px;
    transform: translate(0,30%);
    left:0;
    bottom: 0;
    right: 0;
}

.product .image-box img{
    width:100%;
    z-index: 3;
    transition-duration: 500ms;
}
.product .description div a{
    text-decoration: none;
    color:black;
    transition-duration: 500ms;
    font-size:16px;
}
.product .description div a:hover{
    color:rgb(119, 119, 119);
}
.product .description .btn{
    color:white;
    background: #4b4848;
    transition-property: all;
    transition-duration: .5s;
}
.product .description .btn:hover{
    color:white;
    background: #0a0a0a;
}
.product .description .price{
    font-size:18px;
}
.product .description .size{
    font-size:12px;
}
.product .description div{
    margin-top:5px;
}
.product .description .size span{
    padding-left:5px;
    color:rgb(128, 126, 126);
}

 .product .image-box .second-image{
    position: absolute;
    left:0px;
    width:100%;
    opacity:0; 
    z-index: 1;
}
.product:hover .second-image{
    opacity:1;
}
.product:hover .description{
    overflow: visible;
    transform: translate(0,0%);
}

.product .new-product{
    position: absolute;
    width:35px;
    background:green;
    border-radius: 2px;
    color:white;
    font-size:12px;
    padding:2px;
    right: 10px;
    
    top:5px;
    z-index:2;
    text-align: center;
}