/* @keyframes moving {
    0%,100%{
        transform: translate(0,0) rotate(10deg);
    }
    25%{
        transform: translate(5px,-15px) rotate(10deg);
    }
    50%{
        transform: translate(10px,-5px) rotate(10deg);
    }
    75%{
        transform: translate(0,-15px) rotate(10deg);
    }
}

.animation-product{
    background:transparent;
    animation: moving 3s ease-in-out  infinite;
    -webkit-animation:moving 3s ease-in-out  infinite;
} */
.test img{
  max-width: 100%;
}
.product-tet{
    overflow: hidden;
    
}

.product-tet .description{
    color:white !important;
    position: relative;
    bottom:0px;
    transition-property: bottom;
    transition-duration: .5s;
}

.product-tet:hover .description{
    bottom:25px;
    
}
.product-tet .btn{
    color:white !important;
}
.product-tet .price, .product-tet .size{
color:black;
}

